<section>
    <div class="spending">
        <h3 class="clickable" {{action 'alert'}}>Item: {{model.item}}</h3>
        {{view "spentvw" name=spent.item}}
        <div class={{class}}>Date: {{model.date}}</div>
        {{# unless model.actualMonth}}
            <div class={{class}}>Month: {{model.month}}</div>
        {{/unless}}
        <div class={{class}}>Value: US$ {{model.value}}</div>
        <div {{action 'sayHello' model.date}} class="clickable {{class}}">Days behind: {{model.daysBehind}}</div>
        {{spent-value model 'test'}}
    </div>
</section>

{{#link-to 'spending'}}
    back
{{/link-to}}